# local env files
.env

# Laravel vendor
/app/vendor
/app/vendor/
/app/vendor/*

# Local mysql files
db/
db/*
/db/*
/db/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
